# 忽略所有私密文件夹，不上传到GitHub
私密文件/

# 忽略单个文件
我的健身卡密码.txt
我的求职日记.md

# 忽略本地一键上传脚本，不上传GitHub
上传.bat

# 忽略根目录下的「私密文件」文件夹（推荐写法，加/明确是文件夹）
私密文件/

# 忽略根目录的「私密文件」文件夹
私密文件/
# 忽略根目录的「本地工具」文件夹（放bat脚本等）
本地工具/

# 忽略全项目所有叫「temp」的文件夹
temp/

# 忽略 src 目录下的「缓存」文件夹
src/缓存/